# Exploratory analysis of Mexican families finances
Source: [INEGI](https://www.inegi.org.mx/programas/enigh/nc/2018/default.html#Microdatos)

# Expense

In [3]:
import pandas as pd

expense = pd.read_csv('data/raw/gastoshogar.csv')
%store expense
expense

Stored 'expense' (DataFrame)

,folioviv,foliohog,clave,tipo_gasto,mes_dia,forma_pag1,forma_pag2,forma_pag3,lugar_comp,orga_inst,...,inmujer,inst_1,inst_2,num_meses,num_pagos,ultim_pago,gasto_tri,gasto_nm,gas_nm_tri,imujer_tri
0,100013601,1,C002,G1,0,1,0,0,6,0,...,,,,,,,90,,,
1,100013601,1,C004,G1,0,1,0,0,10,0,...,,,,,,,252,,,
2,100013601,1,C005,G1,0,1,0,0,10,0,...,,,,,,,180,,,
3,100013601,1,D001,G1,0,1,0,0,6,0,...,-1,,,,,,99,,,-1
4,100013601,1,F007,G1,0,1,0,0,0,0,...,,,,,,,7200,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405245,3260798902,1,G104,G7,0,0,0,0,0,0,...,,,,,,,,1000,2903.22,
4405246,3260798903,1,G104,G7,0,0,0,0,0,0,...,,,,,,,,1000,2903.22,
4405247,3260798904,1,G104,G7,0,0,0,0,0,0,...,,,,,,,,700,2032.25,
4405248,3260798905,1,G101,G1,0,0,0,0,0,0,...,,,,,,,2903.22,,,
4405249,3260798906,1,G104,G7,0,0,0,0,0,0,...,,,,,,,,1000,2903.22,

In [4]:
%store -r
expense.columns

Index(['folioviv', 'foliohog', 'clave', 'tipo_gasto', 'mes_dia', 'forma_pag1',
       'forma_pag2', 'forma_pag3', 'lugar_comp', 'orga_inst', 'frecuencia',
       'fecha_adqu', 'fecha_pago', 'cantidad', 'gasto', 'pago_mp', 'costo',
       'inmujer', 'inst_1', 'inst_2', 'num_meses', 'num_pagos', 'ultim_pago',
       'gasto_tri', 'gasto_nm', 'gas_nm_tri', 'imujer_tri'],
      dtype='object')

# Income

In [64]:
income = pd.read_csv('data/raw/ingresos.csv')
%store income
income

Stored 'income' (DataFrame)

,folioviv,foliohog,numren,clave,mes_1,mes_2,mes_3,mes_4,mes_5,mes_6,ing_1,ing_2,ing_3,ing_4,ing_5,ing_6,ing_tri
0,100013601,1,1,P032,09,08,07,06,05,04,3100,3100,3100,3100,3100,3100,9147.54
1,100013601,1,1,P001,09,08,07,06,05,04,10000,10000,10000,10000,10000,10000,29508.19
2,100013601,1,3,P001,09,08,07,06,05,04,8000,8000,8000,8000,8000,8000,23606.55
3,100013601,1,2,P044,09,08,07,06,05,04,0,1100,0,1100,0,1100,1622.95
4,100013602,1,2,P063,09,08,07,06,05,04,0,800,0,0,0,0,393.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348482,3260798905,1,1,P001,10,09,08,07,06,05,6800,8500,6800,6800,8500,6800,21619.56
348483,3260798906,1,1,P040,10,09,08,07,06,05,1000,1000,1000,1000,1000,1000,2934.78
348484,3260798906,1,2,P044,10,09,08,07,06,05,1160,0,1160,0,1160,0,1702.17
348485,3260798906,1,2,P040,10,09,08,07,06,05,1000,1000,1000,1000,1000,1000,2934.78
348486,3260798906,1,1,P044,10,09,08,07,06,05,1160,0,1160,0,1160,0,1702.17

In [6]:
income.columns

Index(['folioviv', 'foliohog', 'numren', 'clave', 'mes_1', 'mes_2', 'mes_3',
       'mes_4', 'mes_5', 'mes_6', 'ing_1', 'ing_2', 'ing_3', 'ing_4', 'ing_5',
       'ing_6', 'ing_tri'],
      dtype='object')

# Health expense by income

In [13]:
health_codes = pd.read_csv('data/documentation/health_codes.csv', sep='|')
health_codes

    code                                        description
0   J001  Servicios medicos durante el embarazo - Honora...
1   J002  Servicios medicos durante el embarazo - Hospit...
2   J003  Servicios medicos durante el embarazo - Anális...
3   J004  Servicios medicos durante el embarazo - Medica...
4   J005  Servicios medicos durante el embarazo - Servic...
..   ...                                                ...
66  J068  Aparatos ortopedicos y terapeuticos - Reparaci...
67  J069  Seguro medico - Otros: pago de enfermeras y pe...
68  J070     Seguro medico - Cuotas a hospitales o clínicas
69  J071      Seguro medico - Cuotas a compañías de seguros
70  J072           Seguro medico - Cuotas de seguro popular

[71 rows x 2 columns]

In [68]:
import numpy as np

family_income = income.groupby(by='folioviv').sum()
family_income = family_income.loc[:,'ing_tri']

health_expense = expense[expense['clave'].isin(health_codes['code'])]
health_expense = health_expense.loc[:,['folioviv', 'clave','gasto_tri', 'gas_nm_tri']]
health_expense['gasto_tri'] = pd.to_numeric(health_expense['gasto_tri'], errors="coerce")
health_expense['gas_nm_tri'] = pd.to_numeric(health_expense['gas_nm_tri'], errors="coerce")
health_expense = health_expense.replace(np.nan, 0)

health_expense['gasto_total'] = health_expense['gasto_tri'] + health_expense['gas_nm_tri']

health_expense = health_expense.groupby(by=['folioviv'], as_index=False).sum()

for index, row in health_expense.iterrows():
    folioviv = row['folioviv']
    try:
        viv_income = family_income.loc[folioviv]
    except:
        viv_income = np.nan
        
    health_expense.loc[index, 'income'] = viv_income
    
%store health_expense
health_expense

Stored 'health_expense' (DataFrame)

         folioviv  gasto_tri  gas_nm_tri  gasto_total     income
0       100013601       0.00      518.47       518.47   63885.23
1       100013602    1348.99     1076.08      2425.07   16442.41
2       100013603   28858.68   391304.34    420163.02  171393.40
3       100013604     322.82     4744.53      5067.35   30245.88
4       100013606      56.73      107.60       164.33   43229.49
...           ...        ...         ...          ...        ...
44341  3260798808       0.00     1320.65      1320.65   11936.06
44342  3260798809      11.73        0.00        11.73   19180.32
44343  3260798811    8804.34      381.51      9185.85    7529.49
44344  3260798812       0.00     8217.36      8217.36   13278.67
44345  3260798906    1173.91        0.00      1173.91    9273.90

[44346 rows x 5 columns]